.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
    position: relative;
    background-position: center;
    /* p-5 text-center bg-image */
}
/* .mask{
  background-color: rgba(0, 0, 0, 0.6);
} */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://files.worldwildlife.org/wwfcmsprod/images/Deforestation_in_Borneo/hero_full/9k2ucnobpj_deforestation_overviewXL_278723.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer{
  background-color: #dfdfdf;
}
.di{
  display: grid;
  height: 400px;
  align-content: center;
  
  width: 100%;
  height: auto;
  padding: 10px;
  text-decoration: none;
  background-color: rgba(28, 45, 78, 0);
  color: rgb(0, 0, 0);
}
.al{
  vertical-align: baseline;
}

